<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hosptial_root"
        name ="Hospital"
        sequence ="10"/>



    <menuitem id="menu_hosptial_oprtion"
        name ="Oprtions"
        parent ="menu_hosptial_root"
        sequence ="10"/>


        <menuitem id="menu_hosptial_master"
        name ="metadata"
        parent ="menu_hosptial_root"
        sequence ="10"/>
        


        
    
</odoo>